<!--
  Generated template for the GameHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="wrapper" *ngIf="show == true" [@flyInOut]="cloudState">
    <span id="quiz">
      <span id="sum">
        <span id="question">{{question}}</span><input type="tel" [(ngModel)]="reply" (change)="veriFy(reply)" name="reply" autofocus />
      </span>
    </span>
  </div>

  <div *ngIf="loading" text-center>
    <ion-spinner></ion-spinner>
  </div>

  <div id="game"></div>
  <!-- <div id="gameinstance"></div> -->
</ion-content>

<ion-footer text-center class="footbg">
  <span id="score">{{score}}</span>
</ion-footer>
