page-StudentSettigns {
  #page {
    //background-color: #f4b942;
    //font-size: 20px;

    //table, th, td {
    //  border: 1px solid black;
    //  float: inherit;
    //}
    table{
      position: center;
      table-layout: fixed;
      width: 100%;
    }

    td {
      padding-left: 3px;
      width: 25%;
    }

    button {
      width: 100%;
      border: 1px solid black;
    }

    #fonttable{
      table{
        position: center;
        table-layout: fixed;
        width: 100%;
      }

      td {
        padding-left: 3px;
        width: 33%;
      }
    }
  }
}
