// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

@import "theme.light";
@import "theme.dark";
@import "theme.green";
@import "theme.yellow";
@import "theme.orange";
@import "theme.pink";
@import "theme.purple";
@import "theme.red";

@import "theme.smallfont";
@import "theme.medfont";
@import "theme.bigfont";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  bg:         #f4b942,
  smile:      yellow
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$alert-ios-head-text-align: center;
$alert-ios-message-text-align: center;
$alert-md-head-text-align: center;
$alert-md-message-text-align: center;
$alert-md-border-radius:	13px;

$alert-button-font-size: 25px;
$alert-button-font-style: 1px bold;

$alert-md-button-group-padding-start: 8px;
$alert-md-button-group-justify-content:	center;
$alert-md-button-group-flex-wrap: wrap-reverse;
$alert-md-button-flex: 1 1 auto;
$alert-md-button-margin: 0 auto;
$alert-md-button-margin-end: 0;
$alert-md-button-min-width: 50%;
$alert-md-button-min-height: 44px;
$alert-md-button-text-color: #32db64;
$alert-md-button-background-color: transparent;
$alert-md-button-background-color-activated: #32db64;
$alert-md-button-border-width: $hairlines-width;
$alert-md-button-border-style: 1px solid;
$alert-md-button-border-color: #32db64;
$alert-md-button-border-radius: 1px;
$alert-md-button-main-font-weight: bold;

$toast-width:	80%;

$toast-ios-background:	rgba(0, 255, 0, 0.6);
$toast-ios-border-radius:	.65rem;
$toast-ios-title-color:	#fff;
$toast-ios-title-font-size: 2.6rem;

$toast-md-background:	rgba(0, 255, 0, 0.6);
$toast-md-title-color:	#fff;
$toast-md-title-font-size:	2.6rem;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

//@import "roboto";
//@import "noto-sans";

@font-face {
  font-family: "Comic Sans MS";
  font-style: normal;
  src: url('../assets/fonts/ComicSans.ttf');
}

$font-family-base: "Comic Sans MS";
body{
  font-family: "Comic Sans MS" !important;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "Comic Sans MS" !important;
}

.size-20, .size-20 * {font-size: 20px !important}
.size-25, .size-25 * {font-size: 25px !important}
.size-30, .size-30 * {font-size: 30px !important}
.size-35, .size-35 * {font-size: 35px !important}
.size-40, .size-40 * {font-size: 40px !important}
//.size-15, .size-15 * {font-size: 15px !important}
//.size-16, .size-16 * {font-size: 16px !important}
//.size-17, .size-17 * {font-size: 17px !important}
//.size-18, .size-18 * {font-size: 18px !important}
//.size-19, .size-19 * {font-size: 19px !important}
//.size-20, .size-20 * {font-size: 20px !important}
